<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.mapper.IndustrialParkDetailMapper">

    <insert id="insert"
            parameterType="com.tencent.wxcloudrun.pto.IndustrialParkDetailPTO" useGeneratedKeys="true">
        INSERT INTO mbp_sub_industrial_park
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="substation != null">
                SUBSTATION,
            </if>
            <if test="customerManager != null">
                CUSTOMER_MANAGER,
            </if>
            <if test="contactWay != null">
                CONTACT_WAY,
            </if>
            <if test="enterpriseName != null">
                ENTERPRISE_NAME,
            </if>
            <if test="floor != null">
                FLOOR,
            </if>
            <if test="industryType != null">
                INDUSTRY_TYPE,
            </if>
            <if test="roomNumber != null">
                ROOM_NUMBER,
            </if>
            <if test="groupNumber != null">
                GROUP_NUMBER,
            </if>
            <if test="employeeNumber != null">
                EMPLOYEE_NUMBER,
            </if>
            <if test="operator != null">
                OPERATOR,
            </if>
            <if test="crossNetworkService != null">
                CROSS_NETWORK_SERVICE,
            </if>
            <if test="endTime2 != null">
                END_TIME2,
            </if>
            <if test="broadbandAccount != null">
                BROADBAND_ACCOUNT,
            </if>
            <if test="negotiationStatus != null">
                NEGOTIATION_STATUS,
            </if>
            <if test="responsiblePerson != null">
                RESPONSIBLE_PERSON,
            </if>
            <if test="position != null">
                POSITION,
            </if>
            <if test="phoneNumber != null">
                PHONE_NUMBER,
            </if>
            <if test="businessSituation != null">
                BUILDING_NUM,
            </if>
            <if test="visitDate != null">
                VISIT_DATE,
            </if>
            <if test="visitInformation != null">
                VISIT_INFORMATION
            </if>
            <if test="parkId != null">
                PARK_ID
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="substation != null">
                #{substation,jdbcType=VARCHAR},
            </if>
            <if test="customerManager != null">
                #{customerManager,jdbcType=VARCHAR},
            </if>
            <if test="contactWay != null">
                #{contactWay,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseName != null">
                #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                #{floor,jdbcType=INTEGER},
            </if>
            <if test="industryType != null">
                #{industryType,jdbcType=VARCHAR},
            </if>
            <if test="roomNumber != null">
                #{roomNumber,jdbcType=INTEGER},
            </if>
            <if test="employeeNumber != null">
                #{employeeNumber,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="crossNetworkService != null">
                #{crossNetworkService,jdbcType=VARCHAR},
            </if>
            <if test="endTime2 != null">
                #{endTime2,jdbcType=VARCHAR},
            </if>
            <if test="broadbandAccount != null">
                #{broadbandAccount,jdbcType=VARCHAR},
            </if>
            <if test="negotiationStatus != null">
                #{negotiationStatus,jdbcType=VARCHAR},
            </if>
            <if test="responsiblePerson != null">
                #{responsiblePerson,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="businessSituation != null">
                #{businessSituation,jdbcType=VARCHAR},
            </if>
            <if test="visitDate != null">
                #{visitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="visitInformation != null">
                #{visitDate,jdbcType=VARCHAR},
            </if>
            <if test="parkId != null">
                #{parkId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <delete id="deleteById">
        delete
        from mbp_sub_industrial_park
        where ID = #{id}
    </delete>
</mapper>